<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head></head>
<body>

<footer class="page-footer red mackenzie" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Sobre a aplicação</h5>
                <p class="grey-text text-lighten-4">Plataforma de criação, gerenciamento e publicação de questionários,
                    feito em conjunto com a faculdade CCSA, para a aplicação do Indicador de Sustentabilidade
                    Mackenzie-FIESP
                </p>
            </div>
            <div class="col l6 s12 center-align">
                <img th:src="@{/resources/img/mackleaps-logo.svg}">
                <h5 class="white-text thin">MACKLEAPS</h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © Copyright 2018 <a class="orange-text text-lighten-3" href="http://fci.mackenzie.br/mackleaps.html">MACKLEAPS</a>
        </div>
    </div>
</footer>

</body>
</html>

